[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/spectra"]
	path = libs/spectra
	url = https://github.com/yixuan/spectra
[submodule "seahorse-old/libs/raylib"]
	path = seahorse-old/libs/raylib
	url = https://github.com/raysan5/raylib
[submodule "seahorse-old/libs/raygui"]
	path = seahorse-old/libs/raygui
	url = https://github.com/raysan5/raygui
