# Prerequisites
*.d
*.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac directory structure
*.DS_Store
*.pyc
__pycache__/

# Executables or analysis
/output

# cached data
/.cache
/build
*CMakeFiles
*cmake_install.cmake
*CMakeCache.txt
seahorse/build
seahorse/dist
seahorse/.venv
seahorse-old/build
seahorse-old/bin
seahorse-old/test.json
.codex
