# Prerequisites
*.d
*.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac directory structure
*.DS_Store
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.cmake/
*.egg-info/

# Executables or analysis
/output

# cached data
/.cache
/build
*CMakeFiles
*cmake_install.cmake
*CMakeCache.txt
*.ninja_deps
*.ninja_log
*.skbuild-info.json
*build.ninja
*CMakeInit.txt
seahorse/build
seahorse/dist
seahorse/.venv
seahorse/src/python/seahorse/_core*.so
seahorse/src/python/seahorse/_core*.pyd
seahorse-old/build
seahorse-old/bin
seahorse-old/test.json
.codex
